.news {
    margin-top: 3rem;
}

.news .body-news > .title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}
.news .body-news .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
}
.news .body-news .list .item {
    position: relative;
    border: 1px solid #c9c3c3;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.news .body-news .list .item:hover {
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.1);
}
.news .body-news .list .item img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.news .body-news .list .item > div {
    padding: 20px;
}
.news .body-news .list .item div .title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 3rem;
    position: relative;
}
.news .body-news .list .item div .title::after {
    content: "";
    width: 40px;
    height: 3px;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.news .body-news .list .item div .sub-title {
    font-size: 1.6rem;
}

.circle-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    left: 4%;
    background-color: #30b5b2;
    border-radius: 50%;
}

.circle-info p:first-child {
    font-size: 1.8rem;
    margin-bottom: 0.4rem;
    color: #fff;
}
.circle-info p:last-child {
    font-size: 1.6rem;
    color: #fff;
}
